extends ../layout.pug

block content
  h1 Welcome
  hr
  label Email
  p= user.email
  label First Name
  p= user.first_name
  label Last Name
  p= user.last_name
  label Birth Date
  p= user.birthdate

