extends ../layout.pug

block content
  h1 Welcome
  hr
  +alert()
  form(method='POST')
    label Email
    input.form-control(type='text', name='email', value=user.email)
    label First Name
    input.form-control(type='text', name='first_name', value=user.first_name)
    label Last Name
    input.form-control(type='text', name='last_name', value=user.last_name)
    label Birth Date
    input.form-control(type='date', name='birthdate', value=user.birthdate)
    hr
    button(class='btn btn-primary' type='submit') Update

